body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: inline;
  width: 100vw;


}
.hidden
{
  width:0;
  height:0;
}
p
{
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  color: cadetblue;
  background-color: #FEF2BF;
  font-weight: 900;
}
#start-button
{
  width:150px;
  height:50px;
  background-color: bisque;
  color:#011F3F;
  border:1px,solid,#FEF2BF;
  margin:auto;
  border-radius: 20%;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn {
  margin:5px;
  display: inline-block;
  height: 200px;
  width: 30vw;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

